@font-face {
    font-family: Mundial;
    src: url(mundial/MundialRegular.otf);
  }


:root{
    --MainFont: "Fira Sans", sans-serif;
    --Mundial: "Mundial", sans-serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    /* border: 1px solid red; */
    text-transform: uppercase;
    font-family: var(--MainFont);
    /* overflow-x: hidden; */
    /* font-family: Mundial !important; */
    

}

html{
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 3px;  /* Remove scrollbar space */
    background: #000;  /* Optional: just make scrollbar invisible */
    display: none;
    
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    /* height: 3px;
    background: #FF0000;
    border-radius: 20px; */
    display: none;
}



.maintenace{
    display: none;
    
}
.maintenace h1{
    text-align: center;
    z-index: 999;
    display: none;
    color: #fff;
    font-size: 3.5vw;
    line-height: 5.5vw;
    font-family: var(--MainFont);
    width: auto;
    font-weight: 200;
}


@media only screen and (max-width: 1000px) {

    .section1, .section2, .section3, .section4, .about-p1, .about-p2, footer, .portfolio, header{
        display: none !important;
    }


    .maintenace {
        /* display: block; */
      background: url(maintenance.jpg);
      background-size: cover;
      height: 100vh;
      width: 100vw;
      /* z-index: ; */
      /* position: absolute; */
      display: flex;
    justify-content: center !important;
    align-items: center !important;
    }.maintenace h1{
        display: inline-block;
    }
  }











/* 2.0 */

.PortfolioSection{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 3px solid yellow; */
  /* margin: 0 0 20% 0; */
}

.PortfolioDescription{
  text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 1px;
    width: 50vw;
    /* position: relative; */
    font-size: 17px;
    color: rgb(18, 18, 18);
    margin: 1vw 0 5vw 0;
    font-family: var(--Mundial) !important;
    text-transform:lowercase !important;
    margin-top: 35vw;
}


.Portfolio-Container{
  /* min-height: 80vh !important; */
  min-height: 80vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  gap: 2vw;
  /* position: relative; */
  /* overflow: visible;  */
}
.Portfolio-2{
  height: 90vh;
  width: 87vw;
  border-radius: 3px;
  /* position: absolute;  */
  /* top: 0; */
  /* left: 0; */
  /* transform: translateX(0%); */
  /* opacity: 1; */
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  text-transform: capitalize;
  box-shadow: rgba(0, 0, 0, 0.223) 3px 6px 3px 0px ;

}
.PortfolioCard6{
  background-image:  url(/images/g1.png);
  background-position: center center;
  background-size: cover;
  
  
}
.PortfolioCard2{
  background-image: url(/images/Thumbnail\ 1.png);
  background-position: center center;

  background-size: cover;
}
.PortfolioCard3{
  background-image: url(/images/TalentApp-Thumbnail1.png);
  background-position: center center;
  background-size: cover;
}
.PortfolioCard4{
  background-image: url(/images/Thumbnail\ 1\ \(2\).png);
  background-position: center center;
  background-size: cover;
}
.PortfolioCard5{
  background-image: url(/images/Thumbnail\ 4\ \(2\).png);
  background-position: center center;
  background-size: cover;
}
.PortfolioCard1{
  background-image: url(./iPhone-XS-isometric-standup-Mockup\ 1.png);
  background-position: center center;
  background-size: cover;
}





.Portfolio-2:hover {
  transform: scale(1.02); /* Slight zoom effect on hover */
}

.Portfolio-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.88), transparent);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.Portfolio-2:hover::before {
  opacity: 1;
}

.PortfolioText {
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: white;
  font-size: 2.5vw;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;
  font-family: var(--Mundial) !important;
  font-weight: 600;
  line-height: 40px;
  text-transform: capitalize;
  letter-spacing: 1.1px;
}

.Portfolio-2:hover .PortfolioText {
  opacity: 1;
}




.PortfolioButton {
  position: absolute;
  bottom: 12.5%;
  right: 5%;
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 0.5vw 2vw;
  font-size: 1.3vw;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #fff;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  text-transform: capitalize;
}
.PortfolioButton2 {
  position: absolute;
  top: 0% !important;
  left: 5% !important;
  background-color: #CF0D06;
  color: #fff;
  border: none;
  padding: 2.1vw 2vw;
  font-size: 1.3vw;
  cursor: pointer;
  border-radius: 4px;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border: 1px solid #fff;
  opacity: 1;
  z-index: 3;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  text-transform: capitalize;
  font-family: var(--Mundial) !important; 
  font-weight: 500;
  letter-spacing: 1.4px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.223) 3px 6px 3px 0px ;

}

.PortfolioButton:hover {
  transform: scale(1.03); /* Slight zoom effect on button hover */
  background-color: #000;
  color: #fff;
  border: none;
}

.Portfolio-2:hover .PortfolioButton {
  opacity: 1;
}


/* 2.0 */

















h1,h2,h3{
    font-weight: 500;
}

.section1, .section2, .section4{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section1 h2, .brandStoryandTextContainer h2{
    font-family: var(--Mundial) !important;
    font-size: 7vw;
    width: 80vw;
}
.brandStoryandTextContainer{
    margin-left: 8vw;
}
.brandStoryandTextContainer h2{
    text-align: end;
    width: 65vw;
}
.roundedImage{
    width: 100px;
    transform: rotate(360deg);
    animation: Textrotation linear 8s infinite;
}
@keyframes Textrotation{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360);
    }
}


.section1 h3{
    font-family: var(--Mundial) !important;
    font-size: 3vw;
    width: 40vw;
}
.brandStoryandTextContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}


.diveintodetails{
    width: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(270deg);
    align-self: flex-start;
    margin-top: 90px;
    gap: 10px;
    margin-left: -3.5vw;
    
}

.diveintodetails h2{
    font-size: 16px;
    width: 175px;
    font-family: var(--Mundial) !important;
    
}
.diveintodetailsArrow{
    height: 80px;
    transform: rotate(270deg);
}

.fixedButton{
    padding: 2.2vh 5vh ;
    background-color: #CF0D06;
    color: #fff;
    transform: rotate(270deg);
    position: fixed;
    right: -89px;
    top: 50vh;
    border: 1px solid rgba(255, 0, 0, 0.644);
    /* position: relative; */
    z-index: 99;
    border-radius: 3px 3px 0 0;
    letter-spacing: 3px;
    font-size: 1.8vh;
    cursor: pointer;
    font-family: var(--Mundial) !important;
}
/* .fixedButton:hover{
    height: 8vh;
    
  } */


/* .MainVideo{
    position: absolute;
    bottom: -50vh;
    border-radius: 10px;
} */

.bannerImage{
    height: 27vw;
    position: absolute;
    right: 20vw;
    top: 200px;
    transform: rotate(140deg);
}
  
.BannerTag1{
  position: relative;
    font-family: 'Oswald', Verdana, sans-serif;
    font-weight: 800;
    font-size: 2.4vw !important;

    background-color: black ;
    border-radius: 10px;
    color: #cd9e21;
    display: flex;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    border-left: 10px solid black;
    border-right: 10px solid black;
    letter-spacing: -2px;
    transform: rotate(10deg) !important;
    top: -19.5vw !important;
    left: 26vw !important;
    /* transform: translateX(-50%) !important; */
}
.BannerTag2{
  position: relative;
    font-family: 'Oswald', Verdana, sans-serif;
    font-weight: 800;
    font-size: 2.4vw !important;
    background-color: black ;
    border-radius: 2px;
    color: #cd9e21;
    display: flex;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    border-left: 10px solid black;
    border-right: 10px solid black;
    letter-spacing: -2px;
    transform: rotate(-10deg) !important;
    top: -34vw !important;
    left: 12vw !important;
    /* transform: translateX(-50%) !important; */
}
  .MainVideo {
    position: absolute;
    bottom: -23vw;
    border-radius: 10px;
    transition: all 0.1s ease;
    will-change: all; /* Hint to the browser */
  }

  .section3{
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 6vw 6vw;
    /* border: 1px solid red; */
    margin-top: -4vw;
    
  }
  .section3 h3{
    font-size: 1.6vw;
    text-transform:none;
    font-weight: 600;
    padding-left: 0.1vw;
    font-family: var(--Mundial) !important;
  }
  .typingTextContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .typing-text{
    font-size: 1.8vw;
    text-transform: capitalize;
    color: #CF0D06;
    font-weight: 600;
    font-family: var(--Mundial) !important;
    /* padding-left: 0.7vw; */
    

  }
  .typingTextContainer span h2{
    font-size: 1.6vw;
    text-transform: none;
    font-weight: 600;
    font-family: var(--Mundial) !important;


  }





  
/* Typewriter effect 1 */
@keyframes typing {
    0.0000%, 27.3488% { content: ""; }
    1.1395%, 26.2093% { content: "d"; }
    2.2791%, 25.0698% { content: "de"; }
    3.4186%, 23.9302% { content: "dev"; }
    4.5581%, 22.7907% { content: "deve"; }
    5.6977%, 21.6512% { content: "devel"; }
    6.8372%, 20.5116% { content: "develo"; }
    7.9767%, 19.3721% { content: "develop"; }
    9.1163%, 18.2326% { content: "develope"; }
    10.2558%, 17.0930% { content: "developers"; }
  
    30.7674%, 51.2791% { content: ""; }
    31.9070%, 50.1395% { content: "D"; }
    33.0465%, 49.0000% { content: "De"; }
    34.1860%, 47.8605% { content: "Des"; }
    35.3256%, 46.7209% { content: "Desig"; }
    36.4651%, 45.5814% { content: "Design"; }
    37.6047%, 44.4419% { content: "Designers"; }
  
    54.6977%, 75.2093% { content: ""; }
    55.8372%, 74.0698% { content: "O"; }
    56.9767%, 72.9302% { content: "Op"; }
    58.1163%, 71.7907% { content: "Opt"; }
    59.2558%, 70.6512% { content: "Optim"; }
    60.3953%, 69.5116% { content: "Optimis"; }
    61.5349%, 68.3721% { content: "Optimisers"; }
  
    78.6279%, 96.8605% { content: ""; }
    79.7674%, 95.7209% { content: "S"; }
    80.9070%, 94.5814% { content: "St"; }
    82.0465%, 93.4419% { content: "Stra"; }
    83.1860%, 92.3023% { content: "Strate"; }
    84.3256%, 91.1628% { content: "Strategists"; }
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .typewriter {
    --caret: currentcolor;
  }
  
  .typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
  }
  
  .typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
  }
  
  .typewriter.thick::after {
    border-right: 1ch solid var(--caret);
  }
  
  .typewriter.nocaret::after {
    border-right: 0;
  }
  
  
  @media (prefers-reduced-motion) {
    .typewriter::after {
      animation: none;
    }
    
    @keyframes sequencePopup {
      0%, 100% { content: "developer"; }
      25% { content: "writer"; }
      50% { content: "reader"; }
      75% { content: "human"; }
    }
  
    .typewriter::before {
      content: "developer";
      animation: sequencePopup 12s linear infinite;
    }
  }

  /**/
  




  /* clients */

  .Clients{
    min-height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 6.5vw; */
    margin-top: -1vw;
    /* border: 1px solid red; */
    
  }
  .Clients img{
    width: auto;
    height: 2.3vw;
  }

  .client1{
    width: auto;
    height: 3.1vw !important;
  }
  .client2{
    width: auto;
    height: 2.8vw !important;
  }
  .client3{
    width: auto;
    height: 1.9vw !important;
  }
  .client4{
    width: auto;
    height: 2vw !important;
  }
  .client5{
    width: auto;
    height: 4.5vw !important;
  }
  .client6{
    width: auto;
    height: 4.3vw !important;
  }


 

  /* clients */







/* Portfolio */

.section4{
    justify-content: start;
    background: #000;
    overflow-x: hidden;
    
}

.PortfolioContainer{
    height: 55vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid gray; */
    
}
.PortfolioLeft{
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 30px 25px;
    border: 1px solid gray !important;
    border-right: 1px solid gray !important;
    position: relative;
    z-index: 10;
    background: #000;
}
.PortfolioLeft > *{
    text-transform: none !important;
    color: rgb(215, 213, 213);
}
.PortfolioLeft > h2{
    font-size: 1.7vw;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    color: #fff !important;
    font-family: var(--Mundial) !important;
}
.PortfolioLeft > p{
    font-size: 1vw;
    font-family: var(--Mundial) !important;
}

.PortfolioRight{
    width: 83%;
    height: 100%;
    border: 1px solid gray;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-x: visible !important;
    padding: 15px 15px 0px 15px;
    border-left: 0px solid gray !important;
}
.PortfolioRight:hover{
    animation: portfolioSlider 10s linear infinite;
}
.PortfolioRight img {
    height: 100%;
    width: auto;
    padding: 0 5px;
    
}

@keyframes portfolioSlider {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-1240px);
    }
    100% {
        transform: translateX(0);
    }
}

.ViewProjectButton{
    height: 8.5vw;
    width: 8.5vw;
    background: transparent;
    border-radius: 50%;
    font-size: 1vw;
    font-weight: 600;
    line-height: 20px;
    border: 1px solid #fff !important;
    text-align: center;
    margin: 7px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--Mundial) !important;
    text-decoration: none;
}
.ViewProjectButton:hover{
    background-color: #fff;
    color: #000 !important;
    transition: all ease 0.3s;
    cursor: pointer;
    transform: translateX(20px);
    font-size: 16px;
}

.tagsContainer{
    min-height: 4vw;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 6px;
    
}
.tagsContainer button{
    height: 2vw;
    width: auto;
    padding: 1vw 1vw;
    background: transparent;
    /* border-radius: 50%; */
    font-size: 0.7vw;
    color: rgb(215, 213, 213) !important;
    border: 1px solid rgb(215, 213, 213) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--Mundial) !important;
}




/* Portfolio */





/* footer */

.fotr{
    background-color: black;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.8vw;
    /* position: relative; */

}
.row1{
    width: 100vw;
    /* padding: 20px; */
    
}
.footer-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5vw;
}
.row1 ul{
    /* display: flex; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: space-between; */
    /* border: 1px solid red; */
    height: 6vh !important;
    
}
.row1 ul li{
    list-style: none;
    margin-right: 10px;
    

}
.row1 ul li a{
    text-decoration: none;
    color: white;
    font-size: 0.9vw;
    font-family: var(--Mundial) !important;
    

}
.row1 ul li img{
    width: 25px;
}

.logo{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
}
.logo:hover{
    transform: translate(0px) !important;
}
.logo li{
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    border: 1px solid #ffffff88;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.logo li img{
    /* padding-right: 10px;   */
    
    /* border: 1px solid yellow; */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.footer-icon1{
    width: 1vw !important;
    height: 2.1vw !important;
}
.footer-icon2{
    width: 0.5vw !important;
    height: 2.1vw !important;
}
.footer-icon3{
    width: 1.2vw !important;
    height: 2.1vw !important;
}