body{
    margin: 0;
}

.fotr{
    background-color: black;
    padding: 20px 0;
}
.row1 ul{
    display: flex;
    justify-content: space-between;
}
.row1 ul li{
    list-style: none;

}
.row1 ul li a{
    text-decoration: none;
    color: white;

}
.row1 ul li img{
    width: 30px;
}

.logo{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
}
.logo li{
    padding-right: 10px;
}
.row2{
    margin-top: 40px;
}
.row2 ul{
    display: flex;
    justify-content: space-between;
}
.row2 ul li{
    list-style: none;
    text-decoration: none;
    color: gray;
}
.row2 ul li a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: blue;
}
#u{
    background-color: red;
    color: white;
    width: 30px;
    padding: 5px;
    font-size: large;
    border-radius: 10px;
    margin-right: 10px;
}