*{
    box-sizing: border-box;
    
}
body{
    background-color: darkgrey;
}

.hero_heading{
    text-align: center;
    color: white;
    font-family: Roboto;
    font-size: 5.5vw;
    font-weight: bold;
    margin-bottom: 0;
}
.hero_img{
    width: 80%;
    margin: 0 10%;
}
.text1{
    margin-top: 12vh;
    text-align: center;
    color: white;
    font-family: Roboto;
    font-size: 4vw;
    font-weight: bold;
}
.iphone{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}
.iphone img{
    width: 80%;
}
.text2{
    color: white;
    font-family: Roboto;
    font-size: 1.8vw;
    width: 50%;
    padding: 20px;
    margin: 12vh 4vw;
}
.grid {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "item1 item1"
        "item2 item3"
        "item2 item4";
    gap: 10px; /* Add some spacing between items */
}

.item1 {
    grid-area: item1;
    background-color: lightblue;
}

.item2 {
    grid-area: item2;
    background-color: lightcoral;
}

.item3 {
    grid-area: item3;
    background-color: lightgreen;
}

.item4 {
    grid-area: item4;
    background-color: lightgoldenrodyellow;
}

.item1 img{
    width: 80%;
}

.item2 img{
    width: 50%;
}

.item3 img{

}

.item4 img{
    
}
