@font-face {
    font-family: Mundial;
    src: url(mundial/MundialRegular.otf);
  }
:root{
    --MainFont: "Fira Sans", sans-serif;
    --Mundial: "Mundial", sans-serif;
}




body{
    overflow-x: hidden;
    font-family: var(--Mundial);
    background-color: #000 !important;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
    display: none;
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
    display: none;
}


.amuser{
    width: 100vw;
    min-height: 100vh;
    /* background-repeat: no-repeat; */
    overflow-x: hidden;
}








.maintenace{
    display: none;
    
}
.maintenace h1{
    text-align: center;
    z-index: 999;
    display: none;
    color: #fff;
    font-size: 4.5vw;
    line-height: 5.5vw;
    font-family: var(--Mundial);
    width: auto;
    font-weight: 200;
}


@media only screen and (max-width: 1000px) {

    .dest, .container1, .container2, .row, .lastSection{
        display: none !important;
    }


    .maintenace {
        /* display: block; */
      background: url(/maintenance.jpg);
      background-size: cover;
      height: 100vh;
      width: 100vw;
      /* z-index: ; */
      /* position: absolute; */
      display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    overflow: hidden !important;
    position: fixed;
    top: 0;
        z-index: 999;

    }.maintenace h1{
        display: inline-block;
    }
  }






@keyframes onLoadAnimations{
    0%{
        opacity: 0;
        transform: translateX(-10vw);
    }
    100%{
        opacity: 1;
        transform: translateX(0vw);
    }

}



.innerLogo{
    width: 16vw !important;
}





.dest{
    width: 106vw;
    height: max-content;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url('bg.jpg') !important; */
    opacity: 1;
    backdrop-filter: blur(30px);
    /* margin-left: -2vw; */
    /* padding: 5vw 0; */
    overflow-x: hidden;
    padding: 0 !important;
    background-color: #000 !important;
}

.hashtag{
    /* border: 1px solid red; */
    width: 15vw;
    height: auto;
    display: flex;
  justify-content: start;
  align-items: center; 
  gap: 1vw;
  position: absolute;
  bottom: 20.8vw;
  left: 6.8vw;
  /* margin-left: 4.8vw;
  margin-bottom: -5vw; */
  animation: onLoadAnimations ease-in 0.4s ;
}
.hashtag hr{
    width: 20%;
    color: #fff !important;
}
.hashtag p{
    margin-top: 1vw;
    font-size: 1.4vw;
}
.bannerHeading{
    text-align: left;
    position: absolute;
    bottom: 8vw;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    font-weight: 500;
    font-size: 3.5vw !important;
    margin-left: 6.5vw;
    line-height: 60px;
    /* animation: onLoadAnimations ease-in 0.4s ; */

}



.tagsContainerr{
  min-width: 5vw;
  height: fit-content;
  position: absolute;
  bottom: 7%;
  left: 6.8vw !important; 
  /* border: 1px solid red !important; */
  display: flex;
  justify-content: start;
  align-items: center;
  /* padding: 0 4vw; */
  gap: 1vw;
  animation: onLoadAnimations ease-in 0.4s ;


}

.serviceTags{
  width: fit-content;
  height: fit-content;
  background: transparent;
  border: 1px solid #fff;
  font-size: 0.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5vw 1vw;
  text-decoration: none;
  color: #fff;
  font-family: var(--Mundial);
  /* position: absolute; */
  bottom: 5%;
  left: 5%;
  opacity: 1;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;
}





/* section 2.0 */

.innerContainerofSection2{
    width: 65vw !important;
    /* margin-bottom: 5vw; */
    margin-top: 4vw;
    padding-left: 2vw;
}
.whatIf{
    font-size: 1.3vw !important;
    margin-bottom: 1.5vw;
    font-weight: 600;
    transform: translateX(0);
    opacity: 1;
    text-transform: capitalize !important;
    
}
.Heading2{
    font-size: 1.5vw !important;
    font-weight: 600;
    width: 55vw !important;
    margin-bottom: 1.5vw;
    text-transform: capitalize;




}
.innerPara{
    font-size: 1vw !important;
    font-weight: 400;
    /* text-align: justify; */
    line-height: 20px;
    text-transform: lowercase !important;





}




.nav{
    width: 75vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 50%;
    top: 3vw;
    transform: translate(-50%);
}
.navicons{
    display: flex;
    width: 30vw;
    justify-content: space-between;

}
.nav-name{
    display: flex;
     justify-content: space-between;
     text-decoration: none;
     font-size: 1.2vw;
}
.product{
    color: black;
}
.nav-name2{
    color: lightslategray;
}
.nav-name2:hover{
    color: black;
    transition: all 0.5s ease;
}
.logo{
    width: 8vw;
}
.download{
    background-color: black;
    border-radius: 40px;
    border: 2px solid black;
    color: white;
    height: 6vh;
    width: 14vw;
    font-size: 1vw;
}
.s-1{
    display: flex;
    margin-top: 6vw;
}
.h-img{
    width: 80vw;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    height: 100vh;
    z-index: 1;

}
.text{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    background: -webkit-linear-gradient(left, #0A0B1E , #54007D);
   background: -o-linear-gradient(right, #0A0B1E, #54007D);
   background: -moz-linear-gradient(right, #0A0B1E, #54007D);
   background: linear-gradient(to right, #0A0B1E , #54007D); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
  margin-top: 2vw;
  font-size: 2vw !important;
}
.pic2{
    width: 60vw;
    position: absolute;
    left: 20%;
    transform: translate(-20%);
    z-index: 3;
    margin-top: 0vw;
}
.color-pic{
    width: 60vw;
    position: relative;
    margin-top: 5vw;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 8vw;
    opacity: 0;
}
.s-2{
    width: 98vw;
}
.bigbox{
    width: 80vw;
    margin-left: 10vw;
    align-items: center;
    display: flex;
    justify-content: center;
}
.t1-h{
    margin-bottom: 0vw;
    font-size: 4vw;
    
}
.t1-h1{
    font-size: 3vw;
    margin-bottom: 0vw;
    font-weight: 400;
}
.t1-t{
    font-size: 2vw;
    word-spacing: 0.2vw;
}
.t1{
    display: inline-block;
    position: relative;
    right: 5%;
    transform: translate(5%);
    margin-bottom: 5vw;
    color: black !important;
}
.boxes{
    position: relative;
    left: 5%;
    transform: translate(-5%);
    font-size: 1.5vw;
    margin-top: -1vw;
    color: black !important;
}
.twobox{
    height: 12vh;
    width: 25vw;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 1vw;
    margin-top: 1vw;
    text-align: center;
    padding: 1.2vw 1vw 0vw 1vw;
    box-shadow: 0.2vw 0.2vw #3a3a3ab3;
    line-height: 1.3vw;
}
.logo-brand{
    width: 60vw;
}
.segment{
    margin-left: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ipad{
    width: 102vw;
}
.s-img{
    margin-bottom: 1vw;
}
.heading{
    font-size: 3vw !important;
    font-weight: 600 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;
    margin-top: 6vw;
    margin-bottom: 3vw;
}
.s-4{
    width: 90vw;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 1vw;
    margin-bottom: 6vw;
}
.tags{
    background-color: transparent;
    border: 0.5vw solid white;
    border-radius: 30px;
    padding: 1.5vw 1.5vw;
    box-shadow: 0.2vw 0.2vw #4b4b4bb3;
}
.imgs{
    width: 14vw;
}
.s-5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgg{
    width: 35vw;
}
.h2{
    font-size: 4vw;
    margin-bottom: -0.5vw;
}
.p{
    font-size: 1.5vw;
    margin-left: 0.5vw;
}
.prt2{
    margin-top: -5vw;
    color: black !important;
}
.img2{
    border-radius: 10px;
    border: 0.5vw solid white;
    padding-left: 1vw;
    box-shadow: 0.2vw 0.2vw #2b2b2bbb;
}
.free-img{
    width: 37.5vw;
}
.s-6{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: up-down 1s ease infinite;
    animation-direction: alternate;
    margin-bottom: 2vw;
}
@keyframes up-down {
    0%{
        transform: translateY(-20px);
    }100%{
        transform: translateY(10px);
    }
}
.iphone{
    width: 75vw;
}
.text2{
    margin-left: 13vw;
    color: black !important;
}
.heading1{
    font-size: 3vw;
    margin-bottom: 0vw;
}
.p3{
    font-size: 1.8vw;
    word-spacing: 0.3vw;
    margin-left: 0.5vw;
}
.image1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand{
    width: 80vw;
}
.image2{
    display: flex;
    justify-content: center;
    align-items: center;
}











/* css file 2 (style.css) */


.logo-1{
    margin-top: -4vw;
  }
  
  .mb{
    margin-bottom: 5vw;
  }
  
  /* Background Image Styling */
  .container1 {
    background-image: url("./Home-2\ 2.png");
    border-image: fill 0
    linear-gradient(rgba(0, 0, 0, 0.695),rgba(0, 0, 0, 0.88)); /* your gradient here */ 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7vw !important;
  
    height: 100vh;
  }
  
  /* Navbar Styling */
  .navbar21 {
    background: transparent;
    padding: 1rem 2rem;
    transition: background-color 0.3s ease, top 0.3s ease;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0; /* Start with the navbar visible */
    text-transform: uppercase;
  }
  
  .navbar-scroll21 {
    background-color: transparent !important;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .navbar-nav .nav-link {
    margin-right: 1rem;
    color: #fff;
    position: relative;
  }
  
  .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
  }
  
  .navbar-nav .nav-link:hover::after {
    width: 100%;
  }
  
  .custom-button {
    background-color: #ff4c00;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 50px;
  }
  
  .custom-button:hover {
    background-color: #fff;
  }
  .container2 {
    padding: 102px 0px 0px 30px;
    color: #fff;
    width: 74%;
  }
  hr {
    color: #fff;
    border: 1px solid #fff;
  }
  .container3 {
    margin-left: 20px;
    color: #fff;
    width: 70%;
  }
  .cta-form_text-field {
    color: #000;
    letter-spacing: 1.5px;
    background-color: #f5f5f5;
    border: 1px rgba(255, 255, 255, 0);
    min-height: 3.5rem;
    margin-bottom: 0;
    padding: 0.5rem 1rem;
    font-family: Aeonikmono Regular, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .w-input,
  .w-select {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    height: 38px;
    margin-bottom: 10px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
    display: block;
  }
  .cta-form_form-label {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-family: Aeonikmono Regular, sans-serif;
    font-size: 1rem;
    font-weight: 400;
  }
  .required {
    color: red;
  }
  .cta-form_button {
    z-index: 1;
    border: 1px solid var(--legacy-swatch--ds-black);
    color: var(--legacy-swatch--ds-black);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 100vh;
    margin-left: 0;
    margin-right: 0;
    padding: 0.8rem 1.5rem 0.75rem;
    font-family: Gilroy, sans-serif;
    font-size: 0.875rem;
    font-weight: 800;
    transition: color 0.5s, border-color 0.5s;
    position: relative;
    overflow: hidden;
  }
  .w-button {
    color: #fff;
    line-height: inherit;
    cursor: pointer;
    background-color: #3898ec;
    border: 0;
    border-radius: 0;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
  }
  .centered-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  








  
/* footer */

.fotr{
    background-color: black;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.8vw;
    /* position: relative; */

}
.row1{
    width: 100vw;
    /* padding: 20px; */
    
}
.footer-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5vw;
}
.row1 ul{
    /* display: flex; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: space-between; */
    /* border: 1px solid red; */
    height: 6vh !important;
    
}
.row1 ul li{
    list-style: none;
    margin-right: 10px;
    

}
.row1 ul li a{
    text-decoration: none;
    color: white;
    font-size: 0.9vw;
    font-family: var(--Mundial) !important;
    

}
.row1 ul li img{
    width: 25px;
}

.logo{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
}
.logo:hover{
    transform: translate(0px) !important;
}
.logo li{
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    border: 1px solid #ffffff88;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.logo li img{
    /* padding-right: 10px;   */
    
    /* border: 1px solid yellow; */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.footer-icon1{
    width: 1vw !important;
    height: 2.1vw !important;
}
.footer-icon2{
    width: 0.5vw !important;
    height: 2.1vw !important;
}
.footer-icon3{
    width: 1.2vw !important;
    height: 2.1vw !important;
}