*{
    box-sizing: border-box;
    
}
body{
    background-color: darkgrey;
}

.hero_heading{
    text-align: center;
    color: white;
    font-family: Roboto;
    font-weight: bold;
}
.hero_img{
    
}