body {
    padding: 0;
    margin: 0;
    background-image: url(/Pictures/Background_1.png);
    background-size: cover;
}
.row1{
    display: flex;
    border: 2px solid black;

}
.logo img{
    width: 100px;
    height: 400px;
    margin-top: 80px;
}
.macbook_container img{
    width: 800px;
    height: 500px;

}