body {
    padding: 0;
    margin: 0;
    background-image: url(/Pictures/Background_1.png);
    background-size: cover;
}

.container {
    display: flex;
    align-items: center; /* Align items vertically centered */
    justify-content: space-between; /* Space between items */
    padding: 20px;
}

.logo, .macbook_container {
    max-width: 50%; /* Ensures both elements are responsive */
}

.logo img, .macbook_container img {
    width: 100%;
    height: auto;
    display: block; /* Removes bottom margin */
}

.logo {
    border: 2px solid black; /* Example styling */
}

.macbook_container {
    border: 2px solid red; /* Example styling */
}
